<div class="d-flex justify-content-end">
    <button (click)="nextblogupload()" type="button" class="btn btn-primary d-block add-photo-nextbtn mt-3" *ngIf="nextbackbtn == false">Next</button>
    <button (click)="Backblogupload()" type="button" class="btn btn-primary d-block add-photo-nextbtn mt-3" *ngIf="nextbackbtn == true">Back</button>
    <button *ngIf="nextbackbtn" (click)="PublishBlog()" type="button" class="btn btn-primary d-block ml-2 add-photo-nextbtn mt-3">Publish</button>
</div>
<div *ngIf="!nextbackbtn" class="blog-editor">
  <h2 class="mb-0">Blog Editor</h2>
  <!-- <div class="blog-iframe">
    <div class="img-iframe" (click)="productIframe()"><img src="assets/images/icons/image.svg" alt="img-frame"/></div>
    <div class="video-iframe" (click)="videoIframe()"><img src="assets/images/icons/video.svg" alt="img-video"/></div>
  </div> -->
  <div id="sample1" [froalaEditor]="titleOptions" [(froalaModel)]="myTitle"></div>
  <button *ngIf="myTitle ?? myTitle" (click)="saveblog()" type="button" class="btn btn-primary d-block add-photo-nextbtn mt-3 mb-4">Save Blog</button>
</div>
<div *ngIf="nextbackbtn" class="blog-editor mt-2">
    <div class="col-12">
        <div class="add-blogcover-images mb-4">
            <p class="mb-1" *ngIf="addphotos.length < 1"><b>Blog Image Upload</b></p>
            <p class="mb-1" *ngIf="addphotos.length >= 1"><b>Cover Image</b></p>
            <div class="add-blogcover-images-inner">
                <div *ngIf="addphotos.length < 1" class="add-more-images">
                    <img src="assets/images/icons/inbox-icons/plus.svg" alt=""/>
                    <!-- <input type="file" name="file" accept="image/png, image/jpeg" (change)="onSelectFileimages($event)"/> -->
                    <input type="button"  name="file" accept="image/png, image/jpeg" (click)="onSelectFileimages()"/>
                </div>
                <div *ngIf="addphotos.length >= 1" class="add-more-images">
                    <img class="withimg" [src]="addphotos" alt=""/>
                    <!-- <img src="assets/images//icons/inbox-icons/plus.svg" alt=""> -->
                </div>
                <a *ngIf="addphotos.length >= 1" (click)="removecoverimg()" href="javascript:void(0)">Remove</a>
            </div>
        </div>
        <form [formGroup]="titleprods">
            <div class="form-group">
                <b><label for="">Description<sup><img src="./assets/images/icons/red-star.svg" alt=""></sup></label></b>
                <input type="text" class="form-control upload-image-input" placeholder="Write a title that describe your image" formControlName="producttitle">
            </div>
            <div class="form-group">
            <b><label for="">Add suitable #Hashtags</label></b>
            <!-- <input type="text" class="form-control upload-image-input" placeholder="Add a hashtag in order to increase visibility" formControlName="suitablehashtags"> -->
            <div class="hashtags-include">
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip
                        *ngFor="let hashtags of hashtag"
                        (removed)="remove(hashtags)">
                        {{hashtags}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input
                        placeholder="Add a hashtag in order to increase visibility"
                        #hashtagInput
                        [matChipInputFor]="chipList"
                        (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <!-- [matAutocomplete]="auto" -->
                    <!-- <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let filterhash of filteredHashtags | async" [value]="hashtag">
                        {{filterhash}}
                    </mat-option>
                    </mat-autocomplete> -->
                </mat-form-field>
            </div>
            <!-- <ngx-tags-input [limit]=10  [header]="'Add suitable #Hashtags  '" [placeholder]="'Add a hashtag in order to increase visibility'" (tagsChange)="displayTags($event)"></ngx-tags-input> -->
            </div> 
            <div class="form-group pt-2">
                <b (click)="advancecatogaryinner = !advancecatogaryinner" class="advance-catogary d-block">
                    <label for="">Select advance categories for your niche and more visibility</label>
                    <img [ngClass]="advancecatogaryinner? 'rotateicon':'' " src="assets/images/icons/inbox-icons/right.svg" alt=""/>
                </b>
                <div *ngIf="advancecatogaryinner" class="advance-catogary-inner">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" id="exampleRadios" value="Looks & Style" formControlName="advancecategories"/>
                        <label class="form-check-label" for="exampleRadios">
                            Looks & Style
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" id="exampleRadios2" value="Beauty & Makeup" formControlName="advancecategories"/>
                        <label class="form-check-label" for="exampleRadios2"> 
                            Beauty & Makeup
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" id="exampleRadios3" value="Fashion & Apparel Design" formControlName="advancecategories"/>
                        <label class="form-check-label" for="exampleRadios3">
                            Fashion & Apparel Design
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" id="exampleRadios4" value="Decoration" formControlName="advancecategories"/>
                        <label class="form-check-label" for="exampleRadios4">
                            Decoration
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" id="exampleRadios5" value="Paint, Graphics & Designs" formControlName="advancecategories"/>
                        <label class="form-check-label" for="exampleRadios5">
                            Paint, Graphics & Designs
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" id="exampleRadios6" value="Health & Fitness" formControlName="advancecategories"/>
                        <label class="form-check-label" for="exampleRadios6">
                            Health & Fitness
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" id="exampleRadios7" value="Offer, Coupon & Code" formControlName="advancecategories"/>
                        <label class="form-check-label" for="exampleRadios7">
                            Offer, Coupon & Code
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" id="exampleRadios8" value="Fun & Entertainments" formControlName="advancecategories"/>
                        <label class="form-check-label" for="exampleRadios8">
                            Fun & Entertainments
                        </label>
                    </div>                                    
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" id="exampleRadios9" value="Products" formControlName="advancecategories"/>
                        <label class="form-check-label" for="exampleRadios9">
                            Products
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" id="exampleRadios10" value="Services" formControlName="advancecategories"/>
                        <label class="form-check-label" for="exampleRadios10">
                            Services
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" id="exampleRadios11"
                            value="Electronic & Gadgets" formControlName="advancecategories" />
                        <label class="form-check-label" for="exampleRadios11">
                            Electronic & Gadgets
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" id="exampleRadios12" value="Others"
                            formControlName="advancecategories" />
                        <label class="form-check-label" for="exampleRadios12">
                            Others
                        </label>
                    </div>                                                                      
                </div>
                <div class="mt-4 mb-5">
                    <small>
                        Remember, be original!<br> Do not copys articles / blogs from other users or from the web which you do not own.
                    </small>
                    <br><br>
                    <small>
                        (You are not allowed to write a blog that triggers hate &amp; violence, hurts community or religions, harasses a person or people and contents related to sexual &amp; profanity (other than educational purpose). Writing such contents may suspend your account permanently).
                    </small>
                </div>
            </div>
        </form>  
    </div>    
</div>
  <ng-template #secondDialog>
    <h2 matDialogTitle class="mb-2">Search products!</h2>
    <div id="message">
        <div class="images-upload-search p-0 m-0 mb-3">
            <input type="text" placeholder="Search" (keyup)="getProduct(productsearch)"
                [(ngModel)]="productsearch" />
            <div class="search-icon">
                <img src="./assets/images/icons/icon-search.svg" alt=""
                    width="15" />
            </div>
        </div>
        <mat-dialog-content>
            <ul class="list-group">
                <li class="list-group-item m-0" (click)="tagproductdata(productdata)"
                    *ngFor="let productdata of productsearchdata;let productindex = index"
                    id={{productdata._id}}>
                    <div class="media">
                        <div class="media-body align-self-center">
                            <p class="mb-0">{{productdata.productName}}</p>
                            <small>{{productdata.brand_details?.brandName}}</small>
                            <div class="price" >
                                <!-- *ngFor="let vari of productdata.variations" -->
                                size:-{{productdata.variations[0].variationTitle}}
                                {{productdata.variations[0].sellingPrice | currency:currencyUnit:'symbol'}}<span>{{productdata.variations[0].MRP |currency:currencyUnit:'symbol'}}</span>
                            </div>
                        </div>
                        <img class="ml-3" src="{{productdata.productPhotos[0]?.image}}"
                            alt="Generic placeholder image" />
                    </div>
                </li>
            </ul>
        </mat-dialog-content>
    </div>
    <mat-dialog-actions align="end">
      <button mat-raised-button matDialogClose>Close</button>
    </mat-dialog-actions>
  </ng-template>