    <!-- / _begin > Page Header / -->
    <header class="user-action-header">
        <div class="container">
            <a class="brand-logo contain-image" [routerLink]="['/accounts/login']">
                <img src="assets/images/logo.svg" alt="brand" />
            </a>
        </div>
    </header>
    <!-- / _end > Page Header / -->

    <!-- / _begin > Page Main Content < SHB / -->
    <section class="forget-password-sec">
        <div class="container">
            <div class="center-screen-password password-card-padding">

                <div class="forget-password-card">
                    <div class="forget-card-pad-y">

                        <div class="user-action-card-heading-wrap">
                            <h1 class="heading-forget">Done</h1>
                        </div>

                        <p class="reset-successful-message">Your password has been reset successfully. <a class="login-redirect-link" [routerLink]="['/accounts/login']" routerLinkActive="router-link-active" >Login here to continue.</a> Your login sessions across all other devices also got cleared.</p>

                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- / _end > Page Main Content < SHB / -->