<section class="post-fixed-side-popup pt-0" [ngClass]="{'open':promotepost,'sidebarpro':withoutNavBar}" id="postPromote" [ngStyle]="{'right':promotepost? '0px' : '-700px' }"  *ngIf ="IsSeller == false || IsInfluencer == true">
    <div class="w-100 d-flex align-items-center justify-content-between sticky-close-head">
        <div class="post-uploader-profile-info-wrapper w-100 text-center">
            <label class="sidebar-main-title" >Promote / Resell the products</label>
        </div>
        <button class="close-popup contain-image" (click)="closesidebar()"><img src="assets/images/icons/close.svg" /></button>
    </div>
    <div *ngIf="promo_option == true" class="mt-3 eligibleWrapper">
        <div class="p-3">
            <p>As an influencer/prmoter, you will be eligible to earn mney from the products get sold through your online store, links or shares.</p>
            <p>To be eligible for this program, your account shall fulfill some minimum requirements as below:</p>
            <ol class="numOrderList">
                <li>Have verified account.</li>
                <li>Have more than 10 followers on this platform</li>
                <li>Have more than 1000 followers on any of the below social media account.</li>
            </ol>
          </div>
         <hr class="m-0" />
         <div class="p-3">
             <p class="weight-medium">Please link one of your social media account with the largest followers to join this program.</p>
             <div class="connection-invite-list">
                 <div class="promote-connection-flex">
                     <label class="weight-medium mb-0">YouTube</label>
                     <input type="url" class="form-control" placeholder="Enter a URL" [ngModel]="YoutubeLink" [pattern]="URLRegx" #youtubename="ngModel">
                     <button class="btn btn-primary influ_save_cancel_btn" (click)="saveyoutubeURL(youtubename)" *ngIf="!youtubebtnshow">Save</button>
                     <button class="btn btn-danger influ_save_cancel_btn"(click)="RemoveYoutubeURL(youtubename)" *ngIf="youtubebtnshow">Clear</button>
                 </div>
                 <div *ngIf="youtubename.errors?.pattern" class="promote-error-Handling-color"> 
                     Youtube not valid.
                 </div>

                 <div class="promote-connection-flex">
                     <label class="weight-medium mb-0">Instagram</label>
                     <input type="url" class="form-control" placeholder="Enter a URL" [ngModel]="InstagramLink" [pattern]="URLRegx" #Instagramname="ngModel">
                     <button class="btn btn-primary influ_save_cancel_btn" (click)="saveInstagramURL(Instagramname)" *ngIf="!Instagrambtnshow">Save</button>
                     <button class="btn btn-danger influ_save_cancel_btn"(click)="RemoveInstagramURL(Instagramname)" *ngIf="Instagrambtnshow">Clear</button>
                 </div>
                 <div *ngIf="Instagramname.errors?.pattern" class="promote-error-Handling-color"> 
                     Instagram not valid.
                 </div>

                 <div class="promote-connection-flex">
                     <label class="weight-medium mb-0">Twitter</label>
                     <input type="url" class="form-control" placeholder="Enter a URL" [ngModel]="TwitterLink" [pattern]="URLRegx" #Twittername="ngModel">
                     <button class="btn btn-primary influ_save_cancel_btn" (click)="saveTwitterURL(Twittername)" *ngIf="!Twitterbtnshow">Save</button>
                     <button class="btn btn-danger influ_save_cancel_btn"(click)="RemoveTwitterURL(Twittername)" *ngIf="Twitterbtnshow">Clear</button>
                 </div>
                 <div *ngIf="Twittername.errors?.pattern" class="promote-error-Handling-color"> 
                     Twitter not valid.
                 </div>

                 <div class="promote-connection-flex">
                     <label class="weight-medium mb-0">Facebook</label>
                     <input type="url" class="form-control" placeholder="Enter a URL" [ngModel]="FacebookLink" [pattern]="URLRegx" #Facebookname="ngModel">
                     <button class="btn btn-primary influ_save_cancel_btn" (click)="saveFacebookURL(Facebookname)" *ngIf="!Facebookbtnshow">Save</button>
                     <button class="btn btn-danger influ_save_cancel_btn"(click)="RemoveFacebookURL(Facebookname)" *ngIf="Facebookbtnshow">Clear</button>
                 </div>
                 <div *ngIf="Facebookname.errors?.pattern" class="promote-error-Handling-color"> 
                     Facebook not valid.
                 </div>
             </div>

             <div class="custom-input-check my-4">
                 <input type="checkbox" class="form-control" id="conditions" name="conditions" (change)="changeEvent($event)">
                 <span class="check-checked"></span>
                 <label for="conditions" class="terms-label">I am eligible for this program and I agree with promote/resell policies</label>
             </div>

             <div class="start-promotion-wrapper text-center">
                 <p class="m-0"><strong>Let's grow together !</strong></p>
                 <button class="btn btn-primary goPromote" (click)="Letsgrow()" [disabled]="!toogleBool" >Start</button>
             </div>

         </div>
    </div>
    <div *ngIf="promo_Verify_Done == true" id="promote-option">
        <ng-container *ngFor="let item of PromoteProducts">
         <div class="similar-product-border-card" *ngIf="item.isPromoted == false">
             <div class="row">
                 <div class="col-6">
                     <h4 class="similar-product-title single-line-clamp">{{item.productName}}</h4>
                 <div class="mb-2">
                     <div class="product-items-image">
                         <owl-carousel [options]="SlideOptionspromoteproduct" [carouselClasses]="['owl-theme', 'sliding']" >  
                             <div class="item" *ngFor="let itemimg of item.productPhotos">
                                 <div style="align-content:center">
                                     <img src={{itemimg.image}} alt="images"/>  
                                 </div>  
                             </div> 
                         </owl-carousel>
                         <div class="abs-hover-items"></div>
                     </div>
                 </div>    

                     <div class="price-block" *ngFor="let vari of item.variations">
                         
                         <label><span style="margin-right: 15px;">size:-{{vari.variationTitle}}</span>{{vari.sellingPrice |currency:currencyUnit:'symbol'}} <del>{{vari.MRP |currency:currencyUnit:'symbol'}}</del></label>
                     </div>

                     <div class="d-flex align-items-center justify-content-center prom-btnwrap">
                         <button class="btn-button blue-button px-2 w-100" (click)="PromoteProductByInfluencer(item)">Promote</button>
                     </div>
                 </div>

                 <div class="col-6">
                     <label class="prom-side-title d-block">Earings:</label>
                     <div class="prom-sold-table">
                         <div class="prom-sold-row">
                             <div class="prom-sold-qty"><span class="prom-heads">Quantity sold</span></div>
                             <div class="prom-sold-unit"><span class="prom-heads">Earings per unit</span></div>
                         </div>
                         <div class="prom-sold-row" *ngFor="let unit of item.influencerspromoters">
                             <div class="prom-sold-qty">{{unit.quantitysoldfrom}}-{{unit.quantitysoldto}} units</div>
                             <div class="prom-sold-unit">{{unit.payperunit |currency:currencyUnit:'symbol'}}</div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
        </ng-container>

    </div>
     <div class="d-flex align-items-center h-100" *ngIf="promo_pending == true">
         <div>
             <p class="text-center">Uh oh !</p>
             <p class="text-center">You have requested to be an influencer but admin have not give you an approval yet. </p>
         </div>
     </div>
</section>

<section class="post-fixed-side-popup pt-0" [ngClass]="{'open':promotepost,'sidebarpro':withoutNavBar}" id="postPromote" [ngStyle]="{'right':promotepost? '0px' : '-700px' }" *ngIf ="IsSeller == true">
    <div class="w-100 d-flex align-items-center justify-content-between sticky-close-head">
        <label class="sidebar-main-title" ></label>
        <button class="close-popup contain-image" (click)="closesidebar()"><img src="assets/images/icons/close.svg" /></button>
    </div>
    <div class="d-flex align-items-center h-100">
        <div>
            <p class="text-center">Uh oh !</p>
            <p class="text-center ">As a seller, you are not eligible for promoting other seller's products. This program is available only for influencers.</p>
        </div>
    </div>
</section>
