ul.menu i{
    font-size: 14px;
}
ul.menu{
    overflow-y: auto;
    padding: 10px;
}
ul.menu > li{
    font-weight: 600;
    font-size: 15px;
}
ul.menu > li > div{
    padding: 7px 0; 
}
ul.submenu{
    font-weight: 500;
    font-size: 14px;
}
ul.submenu > li > div{
    padding: 5px 0;
}
ul.submenu > li i{
    font-size: 12px;
}
ul.submenuinner{
    font-weight: 400;
}
ul.submenuinner > li{
    padding: 5px 0;
}
ul.submenu ul.submenuinner li  i{
    font-size: 14px;
    margin-right: 10px;
}