<section class="post-fixed-side-popup py-0 readmore-product-details" [ngClass]="parentData?.replyBox?'open':''" id="postComment" [ngStyle]="{'right':parentData?.replyBox? '0px' : '-700px' }">
    <div class="w-100 d-flex align-items-center justify-content-between sticky-close-head">
        <div class="post-uploader-profile-info-wrapper" *ngIf="parentData">
            <!-- <div class="post-uploader-profile cover-image">
                <img src="{{parentData.user_details?.profilePic}}" onerror="this.src='assets/images/logo.svg'" alt="post-profile">
            </div>
            <div class="d-flex align-items-center">
                <label class="post-uploader-name">{{parentData.user_details?.username}}</label>
            </div> -->
        </div>
        <button class="close-popup contain-image" (click)="closesidebar()"><img src="assets/images/icons/close.svg" /></button>
    </div>
    <div class="message-section overflow-auto" #content  infiniteScroll [infiniteScrollDistance]="0.5" [scrollWindow]="false" (scrolledUp)="onScrollUp()" (scrolled)="onScroll()"
     [ngStyle]="{ 'max-height': 'calc(100vh - ' +primeTableHeight + 'px' + ')','min-height': 'calc(100vh - ' + primeTableHeight + 'px' + ')' }">
        <div class="comment-singular comment-border sidebar-reply-message" *ngIf="parentData">
            <div class="commenter-profile cover-image">
                <img src="{{parentData.user_details?.profilePic}}"
                    onerror="this.src='assets/images/logo.svg'" alt="user-profile" />
            </div>
            <div class="commenter-info">
                <div class="commenter-name-wrapper">
                    <div class="commenter-name">
                        {{parentData.user_details?.username}}
                        <img class="verify-user-approve" src="assets/images/icons/inbox-icons/approve.svg" *ngIf="parentData.user_details?.isProfileVerified == true">
                        <label class="mb-0 commenting-time">{{parentData?.created_date | date}}</label>
                        <div class="reposted-status" *ngIf="parentData?.isEdited == true">Edited</div>
                    </div>
                    <div class="side-post-comment-option-wrapper">
                        <div class="right-side-menu">
                            <div class="dropdown">
                                <div class="btn p-0" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <div class="menuicon comment-option-icon contain-image">
                                        <img src="./assets/images/icons/three_dots.svg"
                                            alt="comment-action-icon">
                                    </div>
                                </div>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li class="dropdown-item d-flex align-items-center edit-comment-item" *ngIf="parentData?.self_message == true" (click)="EditMessage(parentData)">
                                            <div class="dropIcons contain-image">
                                                <img src="assets/images/icons/icon-pencil-b.svg" alt="drop-icons-1"></div>
                                            <div class="menulabel dropText">Edit</div>
                                        </li>
                                        <li class="dropdown-item d-flex align-items-center"
                                            data-toggle="modal"
                                            data-target="#deletemessage" (click)="DeleteMessage(parentData)">
                                            <div class="dropIcons contain-image">
                                                <img src="assets/images/icons/icon-delete-b.svg" alt="drop-icons-2">
                                            </div>
                                            <div class="menulabel dropText">Delete</div>
                                        </li>
                                        <li class="dropdown-item d-flex align-items-center" (click)="CopyMessage(parentData)">
                                            <div class="dropIcons contain-image">
                                                <img src="assets/images/icons/icon-copy-b.svg"  alt="drop-icons-3">
                                            </div>
                                            <div class="menulabel dropText">Copy</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="comment-text text-break w-95">{{parentData?.message}}</p>
                <div *ngIf="selectedEditItem?._id == parentData._id">
                    <div class="comment-singular comment-border mr-2">
                        <textarea class="edit-message-area" rows="1" [(ngModel)]="editedTypedText"></textarea>
                        <span class="d-flex pr-0 align-self-end justify-content-end" (click)="editEmojiOpen()">
                            <img src="./assets/images/icons/emoji1.svg" height="24" width="24"alt="">
                        </span>
                        <emoji-mart class="emoji-box inbox-emoji-box" title="Pick your emoji…" *ngIf="editEmojimessagebox" (emojiSelect)="editedAddEmoji($event)"></emoji-mart>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mt-1">
                        <button class="btn-popup-cancel-text-link" (click)="cancelEditMessage()">Cancel</button>
                        <button class="btn-popup-save-text-link" (click)="saveEditMessage()">Save</button>
                    </div>
                </div>
                <div class="comments-child-comments" >
                    <div class="comment-singular comment-border" *ngIf="parentData.quotesMessage_details">
                        <div class="commenter-profile cover-image" >
                            <img src="{{parentData.quotesMessage_details.quotesUserDetail?.profilePic}}"
                                onerror="this.src='assets/images/logo.svg'"
                                alt="profilepic not found">
                        </div>
                        <div class="commenter-info">
                            <div class="commenter-name">{{parentData.quotesMessage_details.quotesUserDetail?.username}}<label
                                    class="mb-0 commenting-time">{{parentData.quotesMessage_details?.created_date | date:'shortTime'}}</label></div>
                            <p class="comment-text">{{parentData.quotesMessage_details?.message}}</p>
                        </div>
                    </div>
                </div>
                <div class="public-upload-section col-12">
                    <div class="images-send row alltype-file-upload">
                        <div class="col-12 col-sm-6 col-xl-4" *ngFor="let docItem of parentData?.documents">
                            <div class="card">
                                <div class="alltype-inner"><img
                                        src="assets/images/icons/file.svg"><span>{{docItem?.type}}</span>
                                </div>
                                <div class="filetype-dsc">
                                    <p>{{docItem?.fileName}}</p><span>{{docItem?.size |fileSize}}</span>
                                </div>
                            </div>
                            <div class="msg-img-downarrow">
                                <a href={{docItem?.url}}><img src="./assets/images/icons/msg-img-downarrow.svg" alt="downarrow"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="public-upload-section col-12">
                    <div class="images-send row">
                        <div class="col-6 col-md-4 col-xl-3" *ngFor="let imageItem of parentData?.images">
                            <a href="javascript:void(0)" title=""><img src="{{imageItem?.url}}" onerror="this.src='assets/images/logo.svg'" alt="notimageattached"></a>
                            <div class="msg-img-downarrow">
                                <a href={{imageItem?.url}}><img src="./assets/images/icons/msg-img-downarrow.svg" alt="downarrow"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="embed-product-preview mt-2 ml-auto mr-auto" *ngIf="parentData.productDetails">
                    <p class="mb-2 embed-preview-title blog-product-slider editable medium-editor-element">{{parentData.productDetails.productName}}</p>
                    <div class="mb-2">
                        <div class="product-items-image">
                            <owl-carousel [options]="slideOptionsproduct" [carouselClasses]="['owl-theme', 'sliding']">
                                <div class="item" *ngFor="let items of parentData.productDetails.productPhotos">
                                    <img class="rounded" [src]="items.image" />
                                </div>
                            </owl-carousel>
                        </div>
                        <div class="post-detail-wrap pl-0 pr-0">
                            <div class="price-block mt-0">
                                <label>{{parentData.productDetails.variations[0]?.sellingPrice |currency:currencyUnit:'symbol'}}
                                    <del>{{parentData.productDetails.variations[0]?.MRP |currency:'INR&nbsp;':'code'}}</del>
                                    <span>({{parentData.productDetails.variations[0]?.discount}}%Off)</span>
                                </label>
                                <div class="msg-slider-btn">
                                    <button type="button" class="btn btn-outline-secondary">
                                        <img id="postSave" src="assets/images/icons/icons-post-save.svg">
                                        Wishlist
                                    </button>
                                    <button type="button" class="btn btn-primary mt-0 mb-0">Buy Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-message-public justify-content-start"><a href="#">{{parentData?.replyCount}} Replies</a></div>
        <div *ngIf="parentData?.replyReadMessages?.length === 0 && parentData?.replyUnreadMessages?.length === 0"> No Replies Available</div>
        <div class="comment-singular comment-border mb-3"  #messages *ngFor="let replyItem of parentData?.replyReadMessages;let i = index" >
            <div class="commenter-profile cover-image">
                <img src="{{replyItem.user_details?.profilePic}}" onerror="this.src='assets/images/logo.svg'" alt="user-profile" />
            </div>
            <div class="commenter-info">
                <div class="commenter-name-wrapper">
                    <div class="commenter-name">
                        {{replyItem.user_details?.username}}
                        <label class="mb-0 commenting-time">{{replyItem?.created_date | date:'shortTime'}}</label>
                        <div class="reposted-status" *ngIf="replyItem.isEdited == true">Edited</div>
                    </div>
                    <div class="side-post-comment-option-wrapper">
                        <div class="right-side-menu">
                            <div class="dropdown">
                                <div class="btn p-0" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <div class="menuicon comment-option-icon contain-image">
                                        <img src="./assets/images/icons/three_dots.svg"
                                            alt="comment-action-icon">
                                    </div>
                                </div>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li class="dropdown-item d-flex align-items-center edit-comment-item" *ngIf="replyItem?.self_message == true" (click)="EditReplyMessage(replyItem)">
                                            <div class="dropIcons contain-image">
                                                <img src="assets/images/icons/icon-pencil-b.svg" alt="drop-icons-1"></div>
                                            <div class="menulabel dropText">Edit</div>
                                        </li>
                                        <li class="dropdown-item d-flex align-items-center"
                                            data-toggle="modal"
                                            data-target="#deletereplymessage" (click)="DeleteReplyMessage(replyItem,i)">
                                            <div class="dropIcons contain-image">
                                                <img src="assets/images/icons/icon-delete-b.svg" alt="drop-icons-2">
                                            </div>
                                            <div class="menulabel dropText">Delete</div>
                                        </li>
                                        <li class="dropdown-item d-flex align-items-center" (click)="CopyReplyMessage(replyItem)">
                                            <div class="dropIcons contain-image">
                                                <img src="assets/images/icons/icon-copy-b.svg"  alt="drop-icons-3">
                                            </div>
                                            <div class="menulabel dropText">Copy</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="comment-text text-break w-95">{{replyItem.messageReply}}</p>
                <div *ngIf="replySelectedEditItem?._id == replyItem._id">
                    <div class="comment-singular comment-border mr-2">
                        <textarea class="edit-message-area" rows="1" [(ngModel)]="replyEditedTypedText"></textarea>
                        <span class="d-flex pr-0 align-self-end justify-content-end" (click)="replyEditEmojiOpen()">
                            <img src="./assets/images/icons/emoji1.svg" height="24" width="24"alt="">
                        </span>
                        <emoji-mart class="emoji-box inbox-emoji-box" title="Pick your emoji…" *ngIf="replyEditEmojimessagebox" (emojiSelect)="replyEditedAddEmoji($event)"></emoji-mart>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mt-1">
                        <button type="reset" class="btn-popup-cancel-text-link" (click)="cancelReplyEditMessage()">Cancel</button>
                        <button type="submit" class="btn-popup-save-text-link" (click)="saveReplyEditMessage()">Save</button>
                    </div>
                </div>
                <div class="public-upload-section col-12">
                    <div class="images-send row alltype-file-upload">
                        <div class="col-12 col-sm-6 col-xl-4" *ngFor="let replyDocItem of replyItem?.documents">
                            <div class="card">
                                <div class="alltype-inner"><img
                                        src="assets/images/icons/file.svg"><span>{{replyDocItem?.type}}</span>
                                </div>
                                <div class="filetype-dsc">
                                    <p>{{replyDocItem?.fileName}}</p><span>{{replyDocItem?.size |fileSize}}</span>
                                </div>
                            </div>
                            <div class="msg-img-downarrow">
                                <a href={{replyDocItem?.url}}><img src="./assets/images/icons/msg-img-downarrow.svg" alt="downarrow"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="public-upload-section col-12">
                    <div class="images-send row">
                        <div class="col-6 col-md-4 col-xl-3" *ngFor="let replyImageItem of replyItem?.images">
                            <a href="javascript:void(0)" title=""><img src="{{replyImageItem?.image}}" onerror="this.src='assets/images/logo.svg'" alt="notimageattached"></a>
                            <div class="msg-img-downarrow">
                                <a href={{replyImageItem?.url}}><img src="./assets/images/icons/msg-img-downarrow.svg" alt="downarrow"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-message-public" *ngIf="parentData?.replyUnreadMessages?.length !== 0"><a href="javascript:void(0)" >New Message</a></div>
        <div class="comment-singular comment-border mb-3" *ngFor="let replyItem of parentData?.replyUnreadMessages;let i = index" >
            <div class="commenter-profile cover-image">
                <img src="{{replyItem.user_details?.profilePic}}" onerror="this.src='assets/images/logo.svg'" alt="user-profile" />
            </div>
            <div class="commenter-info">
                <div class="commenter-name-wrapper">
                    <div class="commenter-name">
                        {{replyItem.user_details?.username}}
                        <label class="mb-0 commenting-time">{{replyItem?.created_date | date:'shortTime'}}</label>
                        <div class="reposted-status" *ngIf="replyItem.isEdited == true">Edited</div>
                    </div>
                    <div class="side-post-comment-option-wrapper">
                        <div class="right-side-menu">
                            <div class="dropdown">
                                <div class="btn p-0" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <div class="menuicon comment-option-icon contain-image">
                                        <img src="./assets/images/icons/three_dots.svg"
                                            alt="comment-action-icon">
                                    </div>
                                </div>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li class="dropdown-item d-flex align-items-center edit-comment-item" *ngIf="replyItem?.self_message == true" (click)="EditReplyMessage(replyItem)">
                                            <div class="dropIcons contain-image">
                                                <img src="assets/images/icons/icon-pencil-b.svg" alt="drop-icons-1"></div>
                                            <div class="menulabel dropText">Edit</div>
                                        </li>
                                        <li class="dropdown-item d-flex align-items-center"
                                            data-toggle="modal"
                                            data-target="#deletereplymessage" (click)="DeleteReplyMessage(replyItem,i)">
                                            <div class="dropIcons contain-image">
                                                <img src="assets/images/icons/icon-delete-b.svg" alt="drop-icons-2">
                                            </div>
                                            <div class="menulabel dropText">Delete</div>
                                        </li>
                                        <li class="dropdown-item d-flex align-items-center" (click)="CopyReplyMessage(replyItem)">
                                            <div class="dropIcons contain-image">
                                                <img src="assets/images/icons/icon-copy-b.svg"  alt="drop-icons-3">
                                            </div>
                                            <div class="menulabel dropText">Copy</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="comment-text">{{replyItem.messageReply}}</p>
                <div *ngIf="replySelectedEditItem?._id == replyItem._id">
                    <div class="comment-singular comment-border mr-2">
                        <textarea class="edit-message-area" rows="1" [(ngModel)]="replyEditedTypedText"></textarea>
                        <span class="d-flex pr-0 align-self-end justify-content-end" (click)="replyEditEmojiOpen()">
                            <img src="./assets/images/icons/emoji1.svg" height="24" width="24"alt="">
                        </span>
                        <emoji-mart class="emoji-box inbox-emoji-box" title="Pick your emoji…" *ngIf="replyEditEmojimessagebox" (emojiSelect)="replyEditedAddEmoji($event)"></emoji-mart>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mt-1">
                        <button type="reset" class="btn-popup-cancel-text-link" (click)="cancelReplyEditMessage()">Cancel</button>
                        <button type="submit" class="btn-popup-save-text-link" (click)="saveReplyEditMessage()">Save</button>
                    </div>
                </div>
                <div class="public-upload-section col-12">
                    <div class="images-send row alltype-file-upload">
                        <div class="col-12 col-sm-6 col-xl-4" *ngFor="let replyDocItem of replyItem?.documents">
                            <div class="card">
                                <div class="alltype-inner"><img
                                        src="assets/images/icons/file.svg"><span>{{replyDocItem?.type}}</span>
                                </div>
                                <div class="filetype-dsc">
                                    <p>{{replyDocItem?.fileName}}</p><span>{{replyDocItem?.size |fileSize}}</span>
                                </div>
                            </div>
                            <div class="msg-img-downarrow">
                                <a href={{replyDocItem?.url}}><img src="./assets/images/icons/msg-img-downarrow.svg" alt="downarrow"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="public-upload-section col-12">
                    <div class="images-send row">
                        <div class="col-6 col-md-4 col-xl-3" *ngFor="let replyImageItem of replyItem?.images">
                            <a href="javascript:void(0)" title=""><img src="{{replyImageItem?.url}}" onerror="this.src='assets/images/logo.svg'" alt="notimageattached"></a>
                            <div class="msg-img-downarrow">
                                <a href={{replyImageItem?.url}}><img src="./assets/images/icons/msg-img-downarrow.svg" alt="downarrow"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="parentData" #heightBottomMsgDiv class="d-block">
        <app-bottommessagebox [ActiveUserChatDetail]="{replyBox:parentData?.replyBox,_id:parentData?._id,user_details:parentData?.user_details}" (newCloseQuote)="newCloseQuote($event)"></app-bottommessagebox>
    </div>
</section>

<!-- / _begin > MODAL - Delete Confirmation < SHB / -->
<div class="modal fade" tabindex="-1" aria-hidden="true" id="deletemessage">
    <div class="modal-dialog modal-dialog-centered modal-delete-confirmation-comment">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to delete this message?</p>
                <div class="d-flex align-items-center justify-content-end mt-1">
                    <button type="reset" class="btn-popup-cancel-text-link" aria-label="Close" (click)="cancelDeleteMessage()">Cancel</button>
                    <button type="submit" class="btn-popup-delete-text-link" (click)="confirmDeleteMessage()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / _end > MODAL - Delete Confirmation < SHB / -->

<!-- / _begin > MODAL - deletereplymessage Confirmation < SHB / -->
<div class="modal fade" tabindex="-1" aria-hidden="true" id="deletereplymessage">
    <div class="modal-dialog modal-dialog-centered modal-delete-confirmation-comment">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to delete this replymessage?</p>
                <div class="d-flex align-items-center justify-content-end mt-1">
                    <button type="reset" class="btn-popup-cancel-text-link" aria-label="Close" (click)="cancelDeleteReplyMessage()">Cancel</button>
                    <button type="submit" class="btn-popup-delete-text-link" (click)="confirmDeleteReplyMessage()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / _end > MODAL - deletereplymessage Confirmation < SHB / -->

