    <!-- / _begin > Page Header / -->
    <header class="user-action-header">
        <div class="container">
            <a class="brand-logo contain-image" [routerLink]="['/accounts/login']">
                <img src="assets/images/logo.svg" alt="brand" />
            </a>
        </div>
    </header>
    <!-- / _end > Page Header / -->

    <!-- / _begin > Page Main Content < SHB / -->
    <section class="forget-password-sec">
        <div class="container">
            <div class="center-screen-password password-card-padding">

                <div class="forget-password-card">
                    <form class="forget-card-pad-y" (ngSubmit)="findAccount(f)" [formGroup]="findAccountForm">
                        <div class="user-action-card-heading-wrap">
                            <h1 class="heading-forget">Forgot your password</h1>
                        </div>

                        <div class="formElement-bottomSpace">
                            <input type="text" class="form-control action-input" placeholder="Username, email or phone number" formControlName="userIdentityType">
                            <label class="mt-1 text-danger text-left w-100" *ngIf="f.controls.userIdentityType.invalid && f.controls.userIdentityType.touched">
                                field is required
                            </label>
                        </div>

                        <div class="formElement-bottomSpace">
                            <button type="submit" class="btn btn-action-forget space-forget-welcome-screen">Find your account</button>
                        </div>
                    </form>

                    <div class="divider-line-forget">
                        <div class="forget-card-pad-y">
                            <p class="an-account-heading">Don't have an account?</p>
                            <div class="create-account">
                                <a class="create-account-link" [routerLink]="['/accounts/signup']" routerLinkActive="router-link-active" >Create an account</a>
                                <a class="create-account-link" [routerLink]="['/accounts/business']" routerLinkActive="router-link-active" >Create a business account</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- / _end > Page Main Content < SHB / -->