@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';
::ng-deep app-your-storemap{
    position: relative;
}
.create-map-setLocation{
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
}
.create-map-setLocation table thead th{
    min-width: 125px;
}
.create-map-setLocation h5{
    font-size: 18px;
    font-weight: 600;
}
.create-map-setLocation table{
    margin-bottom: 15px;
}
.create-map-setLocation button{
    width: 170px;
    height: 35px;
}
.create-location{
    display: flex;
    justify-content: space-between;
}
th, td{
    padding: 5px;
    min-width: 150px;
}
table, th, td{
    border: 1px solid #ddd;
    border-collapse: collapse;
}
.create-location img{
    max-width: 30px;
}
.current-location{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 80px;
    cursor: pointer;
}
mgl-map{
    height: calc(100vh - 100px);
    width: 100%;
    left: 0px;
    top: 0px;
}
.warnLocation{
    max-width: fit-content;
    margin-top: 12px;
    font-weight: 500;
    margin-bottom: 0px;
}