<!-- / _begin > Page Header / -->
<header class="user-action-header">
    <div class="container">
        <a class="brand-logo contain-image" [routerLink]="['/accounts/login']">
            <img src="assets/images/logo.svg" alt="brand"/>
        </a>
    </div>
</header>
<!-- / _end > Page Header / -->
<section class="user-action-section">
    <div class="container">
        <div class="row">
            <div class='col-md-5 col-lg-6 order-2 order-md-1'>    
                <app-owlcarousel></app-owlcarousel>
            </div>
            <div class="col-md-7 col-lg-6 order-1 order-md-2">
                <div class="user-action-card">
                    <div class="top-section-action">
                        <div class="user-action-card-heading-wrap">
                            <h1 class="user-action-card-heading">Register (Business Account)</h1>
                            <p class="marketplace">(Zero fee up to Rs 50K sales then 4%)</p>
                        </div>
                
                        <form class="action-form" id="login-form" (ngSubmit)="bussiness(f)" [formGroup]="businessForm">
                            <div class="formElement-bottomSpace country-code-flag">
                                <div class="position-relative w-100">
                                    <ngx-intl-tel-input [cssClass]="'custom form-control input-field user-action-input input-phone'"
                                        [preferredCountries]="preferredCountries"
                                        [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                                        [selectedCountryISO]="CountryISO.India" maxLength="15"
                                        [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                        [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phone">
                                    </ngx-intl-tel-input>
                                    <label class="mt-1 text-danger" *ngIf="f.controls.phone.invalid && f.controls.phone.touched">
                                        <div *ngIf="f.controls.phone.errors.required; else phonevalid">Phone is required</div>
                                        <ng-template #phonevalid>Phone must be a valid phone numbers</ng-template>
                                    </label>
                                </div>
                            </div>
                            <div class="formElement-bottomSpace">
                                <input type="email" class="form-control input-field user-action-input" placeholder="Email" formControlName="email">
                                <label class="mt-1 text-danger" *ngIf="f.controls.email.invalid && f.controls.email.touched">
                                    <div *ngIf="f.controls.email.errors.required">Email is required</div>
                                    <div *ngIf="f.controls.email.errors.email">Email must be a valid email address</div>
                                </label>
                            </div>
                            <div class="formElement-bottomSpace">
                                <div class="d-flex align-items-center position-relative">
                                    <input type="text" class="form-control input-field" placeholder="Create username"
                                    [ngClass]="{ 'username-not-available':  isUserNameExits }" formControlName="username" (keyup)="typeUserName(f)">
                                    <a class="user-check" *ngIf="isUserNameExits == false"><img src="assets/images/icons/inbox-icons/approve.svg" alt="true"></a>
                                    <a class="user-check" *ngIf="isUserNameExits == true"><img src="assets/images/icons/inbox-icons/not_available.svg" alt="false"></a>
                                </div>
                                <label class="mt-1 text-danger" *ngIf="f.controls.username.invalid && f.controls.username.touched">
                                    <div *ngIf="f.controls.username.errors.required">field is required</div>
                                    <div *ngIf="f.controls.username.errors.pattern">enter valid character</div>
                                    <div *ngIf="f.controls.username.errors.minlength">Your Name Should Contain Atleast 6 Characters</div>
                                    <div *ngIf="f.controls.username.errors.maxlength">Sorry You are Exceeding the Limit</div>
                                </label>                                
                                <p class="text-left mt-1 sm-dark">(Your username should include your authentic name)</p>
                            </div>
                            <div class="formElement-bottomSpace">
                                <button type="submit" class="btn btn-user-action">Continue</button>
                            </div>
                        </form>
                    </div>
                
                    <div class="user-action-internal-links-wrapper">
                        <div class="bottom-section-action">
                            <p class="an-account-heading">Already have an account?</p>
                            <div class="create-account">
                                <a class="create-account-link" [routerLink]="['/accounts/login']" routerLinkActive="router-link-active"  >Login</a>
                                <a class="create-account-link" [routerLink]="['/accounts/signup']" routerLinkActive="router-link-active" >or create a personal account</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="app-download-box">
                    <p class="app-download-box-heading">Get the app</p>
                    <div class="app-download-store">
                        <a class="app-download-store-link">
                            <img src="assets/images/tickets/get-app-from-playstore.png" alt="playstore" />
                        </a>
                        <a class="app-download-store-link">
                            <img src="assets/images/tickets/get-app-from-appstore.png" alt="appstore" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- / _end > User Action Section < SHB / -->
    </div>
</section>