<div class="row half-row">

    <div class="col-md-6 col-lg-4">
        <div class="product-items-wrapper hashtag-post-border-line">
            <div class="blog-items-post cover-image">
                <img src="assets/images//hashtags-solo/hashtag-post-10.jpg" alt="blog-cover" class="object-position-top">
            </div>

            <div class="post-detail-wrap">
                <div class="post-uploader-info d-flex align-items-start justify-content-between w-100">
                    <label class="post-uploader-name">payalmehra</label>
                    <div class="hashtag-save-icon">
                        <img id="postSave" onclick="changeImage()" src="assets/images//icons/icons-post-save.svg">
                    </div>
                </div>
                <p class="post-blog-title two-line-clamp text-black">Check the new updates of whatsapp with us to stay updated.</p>
            </div>

        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="product-items-wrapper hashtag-post-border-line">
            <div class="blog-items-post cover-image">
                <img src="assets/images//hashtags-solo/hashtag-post-05.jpg" alt="blog-cover" class="object-position-top">
            </div>

            <div class="post-detail-wrap">
                <div class="post-uploader-info d-flex align-items-start justify-content-between w-100">
                    <label class="post-uploader-name">ananth_raj</label>
                    <div class="hashtag-save-icon">
                        <img id="postSave" onclick="changeImage()" src="assets/images//icons/icons-post-save.svg">
                    </div>
                </div>
                <p class="post-blog-title two-line-clamp text-black min-40">Edge has coolest feature ever.</p>
            </div>

        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="product-items-wrapper hashtag-post-border-line">
            <div class="blog-items-post cover-image">
                <img src="assets/images//hashtags-solo/hashtag-post-07.jpg" alt="blog-cover" class="object-position-top">
            </div>

            <div class="post-detail-wrap">
                <div class="post-uploader-info d-flex align-items-start justify-content-between w-100">
                    <label class="post-uploader-name">aakash_sky</label>
                    <div class="hashtag-save-icon">
                        <img id="postSave" onclick="changeImage()" src="assets/images//icons/icons-post-save.svg">
                    </div>
                </div>
                <p class="post-blog-title two-line-clamp text-black">Check the new updates of whatsapp with us to stay updated.</p>
            </div>

        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="product-items-wrapper hashtag-post-border-line">
            <div class="blog-items-post cover-image">
                <img src="assets/images//hashtags-solo/hashtag-post-08.jpg" alt="blog-cover" class="object-position-top">
                <div class="post-blog-head-wrap">
                </div>
            </div>

            <div class="post-detail-wrap">
                <div class="post-uploader-info d-flex align-items-start justify-content-between w-100">
                    <label class="post-uploader-name">payalmehra</label>
                    <div class="hashtag-save-icon"><img id="postSave" onclick="changeImage()" src="assets/images//icons/icons-post-save.svg"></div>
                </div>
                <p class="post-blog-text two-line-clamp">Edge has relaced the internet explorer which maintained legacy over 2 decade with internet history. finally the journey came to an end and new era start with Microsoft Edge.</p>
            </div>

        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="product-items-wrapper hashtag-post-border-line">
            <div class="blog-items-post cover-image">
                <img src="assets/images//hashtags-solo/hashtag-post-01.jpg" alt="blog-cover" class="object-position-top">
                <div class="post-blog-head-wrap">
                </div>
            </div>

            <div class="post-detail-wrap">
                <div class="post-uploader-info d-flex align-items-start justify-content-between w-100">
                    <label class="post-uploader-name">ananth_raj</label>
                    <div class="hashtag-save-icon"><img id="postSave" onclick="changeImage()" src="assets/images//icons/icons-post-save.svg"></div>
                </div>
                <p class="post-blog-text two-line-clamp">WhatsApp has launch the new features have you know yet, if don't please read carafully. The story of whatsApp journey is amazing.</p>
            </div>

        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="product-items-wrapper hashtag-post-border-line">
            <div class="blog-items-post cover-image">
                <img src="assets/images//hashtags-solo/hashtag-post-02.jpg" alt="blog-cover" class="object-position-top">
                <div class="post-blog-head-wrap">
                </div>
            </div>

            <div class="post-detail-wrap">
                <div class="post-uploader-info d-flex align-items-start justify-content-between w-100">
                    <label class="post-uploader-name">aakash_sky</label>
                    <div class="hashtag-save-icon"><img id="postSave" onclick="changeImage()" src="assets/images//icons/icons-post-save.svg"></div>
                </div>
                <p class="post-blog-text two-line-clamp">Edge has relaced the internet explorer which maintained legacy over 2 decade with internet history. finally the journey came to an end and new era start with Microsoft Edge.</p>
            </div>

        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="product-items-wrapper hashtag-post-border-line">
            <div class="blog-items-post cover-image">
                <img src="assets/images//hashtags-solo/hashtag-post-03.jpg" alt="blog-cover" class="object-position-top">
                <div class="post-blog-head-wrap">
                </div>
            </div>

            <div class="post-detail-wrap">
                <div class="post-uploader-info d-flex align-items-start justify-content-between w-100">
                    <label class="post-uploader-name">payalmehra</label>
                    <div class="hashtag-save-icon"><img id="postSave" onclick="changeImage()" src="assets/images//icons/icons-post-save.svg"></div>
                </div>
                <p class="post-blog-text two-line-clamp">WhatsApp has launch the new features have you know yet, if don't please read carafully. The story of whatsApp journey is amazing.</p>
            </div>

        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="product-items-wrapper hashtag-post-border-line">
            <div class="blog-items-post cover-image">
                <img src="assets/images//hashtags-solo/hashtag-post-04.jpg" alt="blog-cover" class="object-position-top">
                <div class="post-blog-head-wrap">
                </div>
            </div>

            <div class="post-detail-wrap">
                <div class="post-uploader-info d-flex align-items-start justify-content-between w-100">
                    <label class="post-uploader-name">ananth_raj</label>
                    <div class="hashtag-save-icon"><img id="postSave" onclick="changeImage()" src="assets/images//icons/icons-post-save.svg"></div>
                </div>
                <p class="post-blog-text two-line-clamp">Edge has relaced the internet explorer which maintained legacy over 2 decade with internet history. finally the journey came to an end and new era start with Microsoft Edge.</p>
            </div>

        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="product-items-wrapper hashtag-post-border-line">
            <div class="blog-items-post cover-image">
                <img src="assets/images//hashtags-solo/hashtag-post-09.jpg" alt="blog-cover" class="object-position-top">
                <div class="post-blog-head-wrap">
                </div>
            </div>

            <div class="post-detail-wrap">
                <div class="post-uploader-info d-flex align-items-start justify-content-between w-100">
                    <label class="post-uploader-name">aakash_sky</label>
                    <div class="hashtag-save-icon"><img id="postSave" onclick="changeImage()" src="assets/images//icons/icons-post-save.svg"></div>
                </div>
                <p class="post-blog-text two-line-clamp">WhatsApp has launch the new features have you know yet, if don't please read carafully. The story of whatsApp journey is amazing.</p>
            </div>

        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="product-items-wrapper hashtag-post-border-line">
            <div class="blog-items-post cover-image">
                <img src="assets/images//hashtags-solo/hashtag-post-10.jpg" alt="blog-cover" class="object-position-top">
                <div class="post-blog-head-wrap">
                </div>
            </div>

            <div class="post-detail-wrap">
                <div class="post-uploader-info d-flex align-items-start justify-content-between w-100">
                    <label class="post-uploader-name">madamqueen</label>
                    <div class="hashtag-save-icon"><img id="postSave" onclick="changeImage()" src="assets/images//icons/icons-post-save.svg"></div>
                </div>
                <p class="post-blog-text two-line-clamp">Edge has relaced the internet explorer which maintained legacy over 2 decade with internet history. finally the journey came to an end and new era start with Microsoft Edge.</p>
            </div>

        </div>
    </div>

</div>
