<app-header></app-header>
<div class="tab-pane fade show active" id="pills-product" role="tabpanel" aria-labelledby="pills-product-tab">
    <div class="order-history-defalut product-sub-small">
    <div class="order-history-defalut-img">
        <img src="assets/images/icons/link_broken.svg" alt="order-history-defalut"/>
    </div>
    <b>Sorry, this page is not available at this moment.</b><br/><br/>
    <a [routerLink]="'/home'" type="button" class="btn btn-primary Keep-Shopping align-items-center d-flex m-auto text-center  justify-content-center">Keep Shopping</a><br>
    <a [routerLink]="'/explore'" class="gotohome cursor-pointer">Go to Home Page</a>
    </div>
</div>