<!-- / _begin > Page Header / -->
<header class="user-action-header">
    <div class="container">
        <!-- <a class="brand-logo contain-image" [routerLink]="'/accounts/login'">
            <img src="assets/images/logo.svg" alt="brand"/>
        </a> -->
    </div>
</header>
<!-- / _end > Page Header / -->
<section class="user-action-section">
    <div class="container">
        <div class="row">
            <div class='col-md-5 col-lg-6 order-2 order-md-1'>    
                <!-- <app-owlcarousel></app-owlcarousel> -->
            </div>
            <div class="col-md-7 col-lg-6 order-1 order-md-2">
                <div class="user-action-card signup max-height-100">
                    <div class="top-section-action">
                        <div class="user-action-card-heading-wrap">
                            <h1 class="user-action-card-heading">Register (Business Account)</h1>
                            <p class="marketplace">(Zero fee up to Rs 50K sales then 4%)</p>
                        </div>

                        <!-- <form class="action-form" id="login-form" (ngSubmit)="businessfinal(f)" [formGroup]="bussinessotpform">
                            <div class="formElement-bottomSpace">
                                <input type="text" class="form-control input-field user-action-input" placeholder="Enter GST Number" formControlName="gstnumber" [maxlength]="15">
                            </div>

                            <div class="formElement-bottomSpace">
                                <div class="file-upload-business">
                                    <input type="file" class="form-control custom-file-upload-input" name="fileToUpload" id="fileToUpload" formControlName="fileupload">
                                    <div class="custom-file-upload-design w-100">
                                        <button type="button" class="btn btn-upload col-4">Choose File</button>
                                        <p class="upload-file-name">No file choosen</p>
                                    </div>
                                    <label class="file-type-notice mt-2">(Only PDF, JPEG & PNG files are allowed)</label>
                                </div>
                            </div>

                            <div class="formElement-bottomSpace">
                                <div class="terms-agree">
                                    <div class="custom-input-check">
                                        <input type="checkbox" class="form-control" id="terms" name="terms" value="agree">
                                        <span class="check-checked"></span>
                                        <label for="terms" class="terms-label">By signing up, I agree with HustleUp's <a class="link" href="javascript:void(0)">Terms of Service.</a></label>
                                    </div>
                                </div>
                            </div>

                            <div class="formElement-bottomSpace">
                                <button type="submit" class="btn btn-user-action btn-register m-0">Register</button>
                            </div>

                        </form> -->
                    </div>
                    <div class="user-action-internal-links-wrapper">
                        <div class="bottom-section-action">
                            <p class="an-account-heading">Don't have GST number?</p>
                            <!-- <a class="mixed-account-link" [routerLink]="['/accounts/business']" routerLinkActive="router-link-active" >Create a personal account and convert into business account later.</a> -->
                        </div>
                    </div>
                </div>

                <div class="app-download-box">
                    <p class="app-download-box-heading">Get the app</p>
                    <div class="app-download-store">
                        <a class="app-download-store-link">
                            <img src="assets/images/tickets/get-app-from-playstore.png" alt="playstore" />
                        </a>
                        <a class="app-download-store-link">
                            <img src="assets/images/tickets/get-app-from-appstore.png" alt="appstore" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- / _end > User Action Section < SHB / -->
    </div>
</section>                