<div id="StoreDetails" *ngIf="statuscodecheck != 0 && statuscodecheck != 1">
    <!-- <div class="flex-hashtag-profile">
        <div class="order-history-defalut m-0">
            <div class="order-history-defalut-img m-0 mr-5 mt-3">
                <img src="assets/images/icons/store_details.svg" alt="order-history-defalut">
            </div>
        </div>
        <div class="hashtag-peofile-info-wrapper">
            <h2 class="hashtag-main-title-name mb-0">Store Details</h2>
        </div>
    </div> -->
    <div class="hashtag-tabs">
        <div class="tabs-items-flex">
            <ul class="nav nav-pills mb-3" id="storedetails" role="storedetails">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#pills-BusinessDetails-store" (click)="storenext()">Business
                        Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#pills-GSTNDetails-store" (click)="storenext()">GSTN
                        Details</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" data-toggle="tab" href="#pills-BankDetails-store" (click)="storenext()">Bank Details</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" data-toggle="tab" href="#pills-BusinessAddress-store" (click)="storenext()">Business Address</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" data-toggle="tab" href="#pills-Signature-store" (click)="storenext()">Signature</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-BusinessDetails-store">
                <div class="row">
                    <div class="col-12">
                        <form *ngIf="brandinfo == false" class="mt-3" [formGroup]="business_details">
                            <div class="admin-form-table table">
                                <div class="form-row">
                                    <div class="form-group col-sm-3 form-inner-title">
                                        <label>Legal Name of Business</label>
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <input type="text" class="form-control form-control-big input-field"
                                            placeholder="Write legal name of business"
                                            formControlName="legalnamebusiness" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-3 form-inner-title">
                                        <label>Business Type</label>
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <div class="form-control-big select2-val">
                                            <ng-select2 width="100%" [data]="businesstype"
                                                formControlName="businesstype" [placeholder]="'Select BusinessType'"
                                                required></ng-select2>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-3 form-inner-title">
                                        <label>Personal PAN</label>
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <input type="text" class="form-control form-control-big input-field"
                                            placeholder="Write your personal PAN" formControlName="personalpan">
                                        <div class="mt-3">
                                            <label for="personalpanupload"
                                                class="btn btn-outline-primary pl-4 pr-4 p-2 mr-2 uploadfilename">Upload</label>
                                            <input type="file" class="d-none" id="personalpanupload" #fileInput
                                                accept="image/png, application/pdf, image/jpeg"
                                                (change)="onFileSelectpan(fileInput)"
                                                formControlName="personalpanfileupload" />
                                            <span class="file-info">{{ fileInfo }}</span>
                                            <small *ngIf="fileInfo == null"
                                                [ngClass]="uploadaccountstatement?'text-danger':''">(Accepted file
                                                formats: png, jpg & pdf)</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-3 form-inner-title">
                                        <label>Business PAN</label>
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <input type="text" class="form-control form-control-big input-field"
                                            placeholder="Write your business PAN" formControlName="businesspan">
                                        <div class="mt-3">
                                            <label for="businesspan"
                                                class="btn btn-outline-primary pl-4 pr-4 p-2 mr-2 uploadfilename">Upload</label>
                                            <input type="file" class="d-none" id="businesspan" #fileInputbusiness
                                                accept="image/png, application/pdf, image/jpeg"
                                                (change)="onFileSelectBusiness(fileInputbusiness)"
                                                formControlName="businesspanfileupload" />
                                            <span class="file-info">{{ fileInfobusiness }}</span>
                                            <small *ngIf="fileInfobusiness == null"
                                                [ngClass]="uploadaccountstatementseconds?'text-danger':''">(Accepted
                                                file formats: png, jpg & pdf)</small>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="admin-form-btn-group d-flex flex-row align-items-center justify-content-end flex-wrap">
                                    <!-- <button type="button" class="cancel-no-effect btn btn-outline-secondary btn-cancel">Cancel</button> -->
                                    <button type="button" class="btn btn-primary store-next-btn"
                                        (click)="storenext1(f1)">Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-GSTNDetails-store">
                <div class="row">
                    <div class="col-12">
                        <form *ngIf="brandinfo == false" class="mt-3" [formGroup]="gstn_details">
                            <div class="admin-form-table table">
                                <div class="form-row">
                                    <div class="form-group col-sm-3 form-inner-title">
                                        <label>GST Number</label>
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <input type="text" class="form-control form-control-big input-field"
                                            placeholder="Write 15 character GST number" formControlName="gstnumber">
                                        <div class="mt-3">
                                            <label for="gstnumber"
                                                class="btn btn-outline-primary pl-4 pr-4 p-2 mr-2 uploadfilename">Upload</label>
                                            <input type="file" class="d-none" id="gstnumber" #fileInputgst
                                                accept="image/png, application/pdf, image/jpeg"
                                                (change)="onFileSelectgst(fileInputgst)"
                                                formControlName="gstfileupload" />
                                            <span class="file-info">{{ fileInfoGST }}</span>
                                            <small *ngIf="fileInfoGST == null"
                                                [ngClass]="uploadaccountstatement2?'text-danger':''">(Accepted file
                                                formats: png, jpg & pdf)</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="this.gstn_details.controls.donthavetan.value == false">
                                    <div class="form-group col-sm-3 form-inner-title">
                                        <label>TAN Number</label>
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <input type="text" class="form-control form-control-big input-field"
                                            placeholder="Write TAN Number" formControlName="tannumber">
                                        <div class="mt-3">
                                            <label for="tannumber"
                                                class="btn btn-outline-primary pl-4 pr-4 p-2 mr-2 uploadfilename">Upload</label>
                                            <input type="file" class="d-none" id="tannumber" #fileInputtan
                                                accept="image/png, application/pdf, image/jpeg"
                                                (change)="onFileSelecttan(fileInputtan)"
                                                formControlName="tanfileupload" />
                                            <span class="file-info">{{ fileInfoTan }}</span>
                                            <small *ngIf="fileInfoTan == null"
                                                [ngClass]="uploadtanstatement?'text-danger':''">(Accepted file formats:
                                                png, jpg & pdf)</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-sm-3">
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <div class="custom-input-check">
                                            <input type="checkbox" class="form-control" id="I-have-TAN"
                                                name="conditions" value="agree" formControlName="donthavetan">
                                            <span class="check-checked"></span>
                                            <label for="I-have-TAN" class="terms-label">I don't have TAN
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="admin-form-btn-group d-flex flex-row align-items-center justify-content-end flex-wrap">
                                    <button type="button" class="cancel-no-effect btn btn-outline-secondary btn-cancel"
                                        (click)="storeback()">Back</button>
                                    <button type="button" class="btn btn-primary" (click)="storenext2(f2)">Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-BankDetails-store">
                <div class="row">
                    <div class="col-12">
                        <form *ngIf="brandinfo == false" class="mt-3" [formGroup]="bank_details">
                            <div class="admin-form-table table">
                                <div class="form-row">
                                    <div class="form-group col-sm-3 form-inner-title">
                                        <label>Account Holder Name</label>
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <input type="text" class="form-control form-control-big input-field"
                                            placeholder="Write the account name" formControlName="accountholdername">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-3 form-inner-title">
                                        <label>Account Number</label>
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <input type="text" class="form-control form-control-big input-field"
                                            placeholder="Write bank account number" formControlName="accountnumber">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-3 form-inner-title">
                                        <label>IFSC Code</label>
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <input type="text" name="" class="form-control form-control-big input-field"
                                            placeholder="Write bank IFSC code" formControlName="ifsccode">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-3 form-inner-title">
                                        <label>Bank Name</label>
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <input type="text" name="" class="form-control form-control-big input-field"
                                            placeholder="Write bank name" formControlName="bankname">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-3 form-inner-title">
                                        <label>Upload Cheque/Passbook copy</label>
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <label for="UploadChequePassbook"
                                            class="btn btn-outline-primary pl-4 pr-4 p-2 mr-2 uploadfilename">Upload</label>
                                        <input type="file" class="d-none" id="UploadChequePassbook"
                                            #uploadchequepassbook accept="image/png, application/pdf, image/jpeg"
                                            (change)="onFileSelectChequePassbook(uploadchequepassbook)"
                                            formControlName="uploadchequepassbookcopy" />
                                        <span class="file-info">{{ ChequePassbook }}</span>
                                        <small *ngIf="ChequePassbook == null"
                                            [ngClass]="uploadaccountstatement3?'text-danger':''">(Accepted file formats:
                                            png, jpg & pdf)</small>
                                    </div>
                                </div>
                                <ul class="user-pro-social-flex mt-5 mb-2">
                                    <li class="user-profile-title">
                                        <p>Other Payments Details (For out of India user's only)</p>
                                    </li>
                                </ul>
                                <div class="form-row">
                                    <div class="form-group col-sm-3">
                                        <label>Payoneer ID</label>
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <input type="text" class="form-control form-control-big input-field"
                                            placeholder="Write your Payoneer ID (if you have)"
                                            formControlName="payoneerid">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-3">
                                        <label>PayPal ID</label>
                                    </div>
                                    <div class="form-group col-sm-7">
                                        <input type="text" class="form-control form-control-big input-field"
                                            placeholder="Write your PayPal ID (if you have)" formControlName="paypalid">
                                    </div>
                                </div>
                                <div
                                    class="admin-form-btn-group d-flex flex-row align-items-center justify-content-end flex-wrap">
                                    <button type="button" class="cancel-no-effect btn btn-outline-secondary btn-cancel"
                                        (click)="storeback()">Back</button>
                                    <button type="button" class="btn btn-primary" (click)="storenext3(f3)">Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-BusinessAddress-store">
                <div *ngIf="brandinfo == false || this.business_addressupdate == true || this.pickup_addressupdate == true"
                    class="row">
                    <div class="col-sm-9">
                        <form class="address-form mt-3" [formGroup]="business_address">
                            <div *ngIf="this.pickup_addressupdate == false || brandinfo == false">
                                <ul class="user-pro-social-flex mt-5 mb-2">
                                    <li class="user-profile-title">
                                        <p>Registered business address</p>
                                    </li>
                                </ul>
                                <input type="text" class="form-control address-input" placeholder="Address"
                                    formControlName="addressname">
                                <input type="text" class="form-control address-input"
                                    placeholder="Street/Apartment/Suite" formControlName="streetapartment">
                                <div class="form-row address-input">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="City"
                                            formControlName="addresscity">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="State/Province"
                                            formControlName="address_state">
                                    </div>
                                </div>
                                <div class="form-row address-input">
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" placeholder="Pin/Zip Code"
                                            formControlName="address_pinzip">
                                    </div>
                                    <div class="col-md-9 form-group mb-0 select2-val">
                                        <ng-select2 width="100%" [data]="addresscountry"
                                            formControlName="address_country" [placeholder]="'Select Country'">
                                        </ng-select2>
                                    </div>
                                </div>
                            </div>
                            <ul *ngIf="this.business_addressupdate == false && this.pickup_addressupdate == false || brandinfo == false"
                                class="user-pro-social-flex mt-5 mb-2">
                                <li class="user-profile-title">
                                    <p>Bank account statement</p>
                                </li>
                            </ul>
                            <div *ngIf="this.business_addressupdate == true"
                                class="d-flex flex-row align-items-center justify-content-end flex-wrap mt-2">
                                <button type="button" class="btn btn-primary"
                                    (click)="addressupdatesave(f4)">Save</button>
                            </div>
                            <div *ngIf="this.business_addressupdate == false && this.pickup_addressupdate == false || brandinfo == false"
                                class="form-row address-input">
                                <div class="col-md-7 form-group mb-0">
                                    <ng-select2 width="100%" [data]="bankstatement" formControlName="address_proof">
                                    </ng-select2>
                                    <div class="mt-3">
                                        <label for="accountstatement"
                                            class="btn btn-outline-primary pl-4 pr-4 p-2 mr-2 uploadfilename">Upload</label>
                                        <input type="file" class="d-none" id="accountstatement" #bankaccountstatement
                                            accept="image/png, application/pdf, image/jpeg"
                                            (change)="onFileSelectaccountstatement(bankaccountstatement)"
                                            formControlName="uploadaccountstatement" />
                                        <span class="file-info">{{ AccountStatement }}</span>
                                        <small *ngIf="AccountStatement == null"
                                            [ngClass]="uploadaccountstatement4?'text-danger':''">(Accepted file formats:
                                            png, jpg & pdf)</small>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="this.pickup_addressupdate == true || brandinfo == false">
                                <ul class="user-pro-social-flex mt-5 mb-2">
                                    <li class="user-profile-title">
                                        <p>Pickup address</p>
                                        <div *ngIf="this.pickup_addressupdate != true || brandinfo == false"
                                            class="custom-input-check address-input mb-0 ml-auto">
                                            <input type="checkbox" class="form-control" id="Pickup-address-check"
                                                name="conditions" value="agree"
                                                [disabled]="!this.business_address.valid"
                                                (click)="useshippingaddress(f4)">
                                            <span class="check-checked"></span>
                                            <label for="Pickup-address-check" class="terms-label">Use this as my default
                                                shipping address
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                                <input type="text" class="form-control address-input" placeholder="Address"
                                    formControlName="pickupAddress">
                                <input type="text" class="form-control address-input"
                                    placeholder="Street/Apartment/Suite" formControlName="pickupAddressarea">
                                <div class="form-row address-input">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="City"
                                            formControlName="pickupAddresscity">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="State/Province"
                                            formControlName="pickupAddressprovince">
                                    </div>
                                </div>
                                <div class="form-row address-input">
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" placeholder="Pin/Zip Code"
                                            formControlName="pickupAddresspinzip">
                                    </div>
                                    <div class="col-md-9 form-group mb-0">
                                        <ng-select2 width="100%" [data]="addresscountry"
                                            formControlName="pickupAddresscountry">
                                        </ng-select2>
                                    </div>
                                </div>
                                <div *ngIf="this.pickup_addressupdate != true || brandinfo == false"
                                    class="d-flex flex-row align-items-center justify-content-end flex-wrap mt-2">
                                    <button type="button" class="cancel-no-effect btn btn-outline-secondary btn-cancel"
                                        (click)="storeback()">Back</button>
                                    <button type="button" class="btn btn-primary" (click)="storenext4(f4)">Next</button>
                                </div>
                            </div>
                            <div *ngIf="this.pickup_addressupdate == true"
                                class="d-flex flex-row align-items-center justify-content-end flex-wrap mt-2">
                                <button type="button" class="btn btn-primary"
                                    (click)="pickupaddressupdatesave(f4)">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-Signature-store">
                <div class="row">
                    <div *ngIf="brandinfo == false" class="col-12">
                        <form class="mt-3">
                            <div class="admin-form-table table">
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <p class="signature-main">
                                            <img *ngIf="signaturePadboolean != false" src={{signaturePadimg}}
                                                alt="signature">
                                            <img *ngIf="signaturePadboolean != false" (click)="signaturepadevent()"
                                                title="Edit address" class="signature-main-edit"
                                                src="assets/images/icons/edit.svg" alt="edit" />
                                            <img *ngIf="signaturePadboolean == false" (click)="signaturepadevent()"
                                                title="Edit address" class="signature-main-edit"
                                                src="https://img.icons8.com/ios-filled/50/000000/save.png" alt="edit" />
                                            <signature-pad class="cursor-pointer" *ngIf="signaturePadboolean == false"
                                                [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
                                                (onEndEvent)="drawComplete()"></signature-pad>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <span class="file-info">{{ Signaturedetails }}</span>
                                        <p class="mt-4 mb-0"><b>Note :</b> Please make sure that the image of the
                                            signature is of an authorised signatory (as endorsed by the Tax
                                            Authorities). Sign on a white paper, scan the signature and upload it.</p>
                                    </div>
                                </div>
                                <div
                                    class="admin-form-btn-group d-flex flex-row align-items-center justify-content-end flex-wrap">
                                    <button type="button" class="cancel-no-effect btn btn-outline-secondary btn-cancel"
                                        (click)="storeback()">Back</button>
                                    <button type="button" class="btn btn-primary store-detail-submit store-submit-btn"
                                        (click)="finalsubmit()">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center" *ngIf="statuscodecheck == 0">
    <h3 class="text-danger">Store details have been submitted, subject to verification.</h3>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Store Create Processing...</p>
</ngx-spinner>