<div id="pills-posts-saved">
    <div *ngIf="getImagepostbookmarked?.length === 0" class="order-history-defalut product-sub-small">
    <div class="order-history-defalut-img">
        <img src="assets/images/icons/new-icons/image.svg" alt="order-history-defalut">
    </div>
    <p>You have not saved any posts yet.</p>
    <p>Any posts you like across, can be saved for future reference.</p>
    </div>
    <div class="row half-row">
        <div *ngFor="let item of getImagepostbookmarked; let i = index" class="col-md-6 col-lg-4 col-xl-3">
            <div class="product-items-wrapper hashtag-post-border-line pb-0">
                <div class="product-items-image cursor-pointer" (click)="imgpostopen(item)">
                    <img src={{item.images[0].image}} alt="product-items">
                    <span class="abs-hash-post-indicator contain-image">
                        <img *ngIf="item.images.length > 1" src="assets/images/icons/multipost.svg" alt="images"/>
                    </span>
                    <div class="abs-tag-icon">
                        <span class="tag-icon-holder tag-icon-user">
                    </span>
                        <a href="javascript:void()" class="abs-product-details-link">View User</a>
                    </div>
                </div>
                <div class="post-detail-wrap">
                    <div class="post-uploader-info d-flex align-items-start justify-content-between w-100">
                    <label class="post-uploader-name">{{item.postTitle}}</label>
                    <div *ngIf="item.isBookmarked == false" class="hashtag-save-icon"><img id="postSave" (click)="WishlistPostImage(item)" src="assets/images/icons/icons-post-save.svg"></div>
                    <div *ngIf="item.isBookmarked == true" class="hashtag-save-icon"><img id="postSave" (click)="UnsavedWishlistPostImage(item,i)" src="assets/images/icons/icons-post-saved.svg"></div>
                    </div>
                    <p class="product-name single-line-clamp" title="Black full sleave sweater">{{item.advanceCategory}}</p>
                </div>
            </div> 
        </div>
    </div>
</div>


      <!-- |< Feed Post Details Slider _begin >| -->
      <div name="shb-page-sliders">
        <app-imgeas-show-sidebar [SinglePostData]="SinglePostData" [iconClickType]="iconClickType" [postdetailsopen]="postdetailsopen" (closebar)="closesidebar()"></app-imgeas-show-sidebar>
    </div>
    <!-- |< Feed Post Details Slider _end >| -->



<!-- / _begin > Static Backdrop For Sliding Sidebar < SHB / -->
<section [ngClass]="sideoverhide?'':'d-none'"  id="sideOverHide" (click)="closesidebar()"></section>
<!-- / _end > Static Backdrop For Sliding Sidebar < SHB / -->