

    <div class="row half-row" *ngFor="let item of HashtagBlogdetailList">
        <div class="order-history-defalut product-sub-small" *ngIf="item.postBlogs?.length === 0">
            <div class="order-history-defalut-img">
                <img src="assets/images/icons/new-icons/blog.svg" alt="order-history-defalut"/>
            </div>
            <p>No Blogs have been made yet.</p>
            <!-- <p>Any blogs you like to read across, can be saved to read later.</p> -->
        </div>

        <div class="col-md-6 col-lg-4"  *ngFor="let subitem of item.postBlogs">
            <div class="product-items-wrapper hashtag-post-border-line">
                <div class="blog-items-post cover-image cursor-pointer" (click)="blogpostopen(subitem)">
                    <img src={{subitem.coverImg}} alt="blog-cover" class="object-position-top">
                </div>
                <div class="post-detail-wrap">
                    <div class="post-uploader-info d-flex align-items-start justify-content-between w-100">
                    <label class="post-uploader-name">{{subitem.advanceCategory}}</label>
                    <div class="hashtag-save-icon">
                        <img *ngIf="subitem.isBookmarked == false" src="assets/images/icons/icons-post-save.svg" alt="" (click)="SaveUnsaveBlog(subitem)"/>
                        <img *ngIf="subitem.isBookmarked == true" src="assets/images/icons/icons-post-saved.svg" alt="" (click)="SaveUnsaveBlog(subitem)"/>
                    </div>
                    </div>
                        <p class="post-blog-title two-line-clamp text-black">{{subitem.description}}</p>
                </div>
            </div>
        </div>
        <section [ngClass]="sideoverhide?'':'d-none'"  id="sideOverHide" (click)="closesidebar()"></section>

    </div>

    <!-- |< blogcontentdetail Slider _begin >| -->
    <div name="shb-page-sliders">
        <app-blogs-show-sidebar [SinglePostData]="SingleBlogData" [iconClickType]="iconClickType" [blogdetailsopen]="blogdetailsopen" (closebar)="closesidebar()"></app-blogs-show-sidebar>
    </div>
    <!-- |< blogcontentdetail Slider _end >| -->

