
    <div class="text-center start-msg d-none" style="padding-top: 10rem;">
        <img src="assets/images/icons/start-msg.svg" alt="">
        <p style="width:56%;" class="mx-auto mt-3">Send messages, Photos, files, ryply comments,
            make notes and have team collaboration etc.</p>
    </div>
    <div class="row user-option-row">
        <div class="col-12 px-0 d-flex align-items-center">
            <div class="active sub-head-tabmenu col-6">
                <img src="assets/images/icons/inbox-icons/private-chat.svg" alt="private">
                <div class="sub-head-tabmenu-inner">
                       <div class="tabmenu-inner-dsc">test-test<!-- <img class="verify-user-approve" src="assets/images/icons/inbox-icons/approve.svg"> -->
                           <!-- <a href="#">Follow</a> -->
                       </div>
                    <!-- <div class="sub-head-followers"><span>4</span>Members</div> -->
                </div>
            </div>
            <div class="sub-head-tabmenu col-6">
                <div class="more-catogary">
                    <button type="button" class="btn btn-outline-primary req-join-btn cancel-no-effect">Request for join</button>
                </div>
            </div>
        </div>            
    </div>
    <div class="text-center start-msg-chat" style="padding-top: 10rem;">
        <div class="round-section">
            <img src="assets/images/icons/inbox-icons/private-chat.svg" alt="">
        </div>
        <p style="width:50%;" class="mx-auto mt-3">This channel is private and not visible to you as you are not a member of it.</p>
    </div>